/**
 * @name Simplicity Better Discord Edition
 * @version 2.0.4
 * @author Shurayukii#6756
 * @authorLink https://github.com/Shurayukii/Simplicity
 * @description BD Edition (For Performance Use With Kernel on PTB Discord)
 * @source https://github.com/PlusInsta/discord-plus/blob/master/DiscordPlus-source.theme.css
*/
@import url("https://plusinsta.xyz/discord-plus/src/DiscordPlus-source.theme.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"); /**/
@import url("https://discord-extensions.github.io/modern-user-connections/src/source.css"); /**/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Facebook.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/dash.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/edited.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/icons.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/help.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/gift.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/custom/tags.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/custom/server.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/custom/user.css"); /**/

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@700&display=swap');

.theme-dark {
/* Backdrop image which is shown behind the app. Can also be an HTML color. Falls back to accent color if invalid.
   To use an image from your computer, upload it somewhere first, copy its link, then paste it below. */
  --dplus-backdrop: url(https://cdn.discordapp.com/attachments/921402389641179187/999042871661445120/EEAA7632-DBC0-4FB2-BD77-18A3068E2CF0.gif);

/* Accent color, used to decorate the UI with colors. */
  --dplus-accent-color-hue: 320;
  --dplus-accent-color-saturation: 60%;
  --dplus-accent-color-lightness: 31%;

/* Foreground color: For things like text and icons. */
  --dplus-foreground-color-hue-base: 276;
  --dplus-foreground-color-hue-links: 197;
  --dplus-foreground-color-saturation-amount: 1;
  --dplus-foreground-color-lightness-amount: 1;

/* Background color: Covers the backdrop so the app is easier to read. */
  --dplus-background-color-hue: 0;
  --dplus-background-color-saturation-amount: 0;
  --dplus-background-color-lightness-amount: 0;
  --dplus-background-color-alpha: 0.7;
}

/* If you use light theme, you can give it unique settings that are separate from dark theme. */
.theme-light {
  --dplus-backdrop: url(https://i.kym-cdn.com/entries/icons/mobile/000/032/417/cover3.jpg);
  
  --dplus-accent-color-hue: 320;
  --dplus-accent-color-saturation: 60%;
  --dplus-accent-color-lightness: 31%;
  
  --dplus-foreground-color-hue-base: 210;
  --dplus-foreground-color-hue-links: 197;
  --dplus-foreground-color-saturation-amount: 1;
  --dplus-foreground-color-lightness-amount: 1;

  --dplus-background-color-hue: 320;
  --dplus-background-color-saturation-amount: 1;
  --dplus-background-color-lightness-amount: 1;
  --dplus-background-color-alpha: 0.8;
}

:root {
/* Fonts */
/* You can use any installed font on your device. */
  --dplus-font-ui: 'Monsterrat';
  --dplus-font-body: 'Standard';
  --dplus-font-header: 'Fredoka One';

/* Round corner sizes, measured in pixel radius.
Set avatar/server radius to 50% to make them circular.
   UI radius must be in pixels, otherwise things break. */
  --dplus-radius-ui: 20px;
  --dplus-radius-avatar: 50%;
  --dplus-radius-server: 50%;

/* This decides how much breathing room there should be between things like buttons and content. */
  --dplus-spacing-ui: 10px;

/* This sets how much space there should be between the app contents and the edges of the window. It also affects the distance between major UI elements, such as the server list to the channel list and channel list to the chat. */
   --dplus-spacing-app: 10px;

/* Size of user and server icons */
--dplus-icon-avatar-chat: 48px;
--dplus-icon-avatar-list: 32px;
--dplus-icon-avatar-profile: 80px;

--dplus-icon-server-sidebar: 48px;
--dplus-icon-server-list: 32px;

/* The Home icon on the top left */
--dplus-icon-home-dark: url(https://betterdiscord.app/resources/branding/logo_solid.png);
--dplus-icon-home-light: url(https://i.kym-cdn.com/entries/icons/mobile/000/032/417/cover3.jpg);

/*___________________________________________________________________________________________________________________________________*/
--rs-small-spacing: 0.5px; /* Spacing Between The Status And Avatar For Small Icons, Must End In "px", Standard: 0.5px */
--rs-medium-spacing: 1.5px; /* Spacing Between The Status And Avatar For Medium Icons, Must End In "px", Standard: 1.5px */
--rs-large-spacing: 3px; /* Spacing Between The Status And Avatar For Large Icons, Must End In "px", Standard: 3px */
--rs-small-width: 2px; /* Width For The Small Status, Must End In "px", Standard: 2px */
--rs-medium-width: 2px; /* Width For The Medium Status, Must End In "px", Standard: 2px */
--rs-large-width: 4px; /* Width For The Large Status, Must End In "px", Standard: 4px */
--rs-avatar-shape: 50%; /* Shape Of The Status, 50% For Circle, 100% For Square, Standard: 50% */
--rs-online-color: #43b581; /* Status Color For People In "Online" Mode, Standard: #43b581 */
--rs-idle-color:  rgba(255,162,0,1); /* Status Color For People In "Idle" Mode, Standard: rgba(255,162,0,1) */
--rs-dnd-color: #f04747; /* Status Color For People In "Do Not Disturb" Mode, Standard: #f04747 */
--rs-offline-color: #636b75; /* Status Color For People Who Are "Offline", Standard: #636b75 */
--rs-streaming-color: #643da7; /* Status Color For People In "Streaming" Mode, Standard: #643da7 */
--rs-invisible-color: var(--rs-offline-color); /* Status Color For People In "Invisible" Mode, Standard: var(--offline-color) */
--rs-phone-color: var(--rs-online-color); /* Status Color For People In "Phone" Mode, Standard: var(--rs-online-color) */
--rs-phone-visible: block; /* If The Phone Icon Should Be Visible, Standard: block */
/*___________________________________________________________________________________________________________________________________*/
--settingsmodalbackground: transparent; /* Background Of The Settings, (Cannot Be Custom), Standard: transparent */
--settingsmodalwidth: 1050px; /* Settings Width, Must End In "px or vh", Standard: 1100px */
--settingsmodalheight: 900px; /* Settings Height, Must End In "px or vh", Standard: 850px */
/*___________________________________________________________________________________________________________________________________*/
--text-color: #fff;
--activity-bg: #627ee4;
--spotify-bg: #1ed860;
--twitch-bg: #6441a5;
--bot-bg: #546cc4;
--xbox-bg: #107C10;
/*___________________________________________________________________________________________________________________________________*/
}
