@import 'required/fixes'; /**/
@import 'required/transparent'; /**/

/* Optional Import */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css"); /**/
/* Required Imports */
@import url("https://crearts-community.github.io/CreArts-Discord/skins/shape/slim/squircle.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/alignment/left/buttons.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/fonts.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/dash.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/edited.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/icons.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/help.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/gift.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/custom/tags.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/custom/server.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/custom/user.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/src/source.css"); /**/
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"); /**/
@import url("https://discord-extensions.github.io/modern-user-connections/src/source.css"); /**/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css");

:root {
/* Only touch If you want to change your Background, Supports: .gif, .jpg, .png and probably .apng but not sure /**/
--chattyBackgroundImage: url(https://cdn.discordapp.com/attachments/921402389641179187/999042871661445120/EEAA7632-DBC0-4FB2-BD77-18A3068E2CF0.gif);

/*___________________________________________________________________________________________________________________________________*/
--chattyBorderRadius: 20px;
--chattyPadding: 8px;
--chattyBlur: 0px;
--interactive-muted: #D08770;
--background-primary: rgba(0, 0, 0, 0.4);
--background-secondary: rgba(0, 0, 0, 0.6);
--background-secondary-alt: rgba(0, 0, 0, 0.3);
--background-tertiary: rgba(39, 39, 39,0.8);
/*___________________________________________________________________________________________________________________________________*/
--rs-small-spacing: 0.5px; /* Spacing Between The Status And Avatar For Small Icons, Must End In "px", Standard: 0.5px */
--rs-medium-spacing: 1.5px; /* Spacing Between The Status And Avatar For Medium Icons, Must End In "px", Standard: 1.5px */
--rs-large-spacing: 3px; /* Spacing Between The Status And Avatar For Large Icons, Must End In "px", Standard: 3px */
--rs-small-width: 2px; /* Width For The Small Status, Must End In "px", Standard: 2px */
--rs-medium-width: 2px; /* Width For The Medium Status, Must End In "px", Standard: 2px */
--rs-large-width: 4px; /* Width For The Large Status, Must End In "px", Standard: 4px */
--rs-avatar-shape: 25%; /* Shape Of The Status, 50% For Circle, 25% For Square, Standard: 50% */
--rs-online-color: #43b581; /* Status Color For People In "Online" Mode, Standard: #43b581 */
--rs-idle-color:  rgba(255,162,0,1); /* Status Color For People In "Idle" Mode, Standard: rgba(255,162,0,1) */
--rs-dnd-color: #f04747; /* Status Color For People In "Do Not Disturb" Mode, Standard: #f04747 */
--rs-offline-color: #636b75; /* Status Color For People Who Are "Offline", Standard: #636b75 */
--rs-streaming-color: #643da7; /* Status Color For People In "Streaming" Mode, Standard: #643da7 */
--rs-invisible-color: var(--rs-offline-color); /* Status Color For People In "Invisible" Mode, Standard: var(--offline-color) */
--rs-phone-color: var(--rs-online-color); /* Status Color For People In "Phone" Mode, Standard: var(--rs-online-color) */
--rs-phone-visible: block; /* If The Phone Icon Should Be Visible, Standard: block */
/*___________________________________________________________________________________________________________________________________*/
--settingsmodalbackground: transparent; /* Background Of The Settings, (Cannot Be Custom), Standard: transparent */
--settingsmodalwidth: 1050px; /* Settings Width, Must End In "px or vh", Standard: 1100px */
--settingsmodalheight: 900px; /* Settings Height, Must End In "px or vh", Standard: 850px */
/*___________________________________________________________________________________________________________________________________*/
--text-color: #fff;
--activity-bg: #627ee4;
--spotify-bg: #1ed860;
--twitch-bg: #6441a5;
--bot-bg: #546cc4;
--xbox-bg: #107C10;
/*___________________________________________________________________________________________________________________________________*/
  /* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/
--accentcolor:			74,12,145;
--accentcolor2:			201,84,255;
--linkcolor:			236,115,255;
/*___________________________________________________________________________________________________________________________________*/
}
