@import 'basics/transparent'; /**/
@import 'basics/howluthfixes'; /**/

@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"); /**/
@import url("https://crearts-community.github.io/Mention-Links/clients/betterdiscord.css"); /**/
@import url("https://lavender-discord.github.io/Context-Iconsax/theme.css"); /**/
@import url('https://discord-extensions.github.io/modern-user-connections/src/source.css'); /**/
@import url("https://lavender-discord.github.io/Settings-Iconsax/theme.css"); /**/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css"); /**/

	
/* DO NOT TOUCH BELOW */

@import url("https://crearts-community.github.io/CreArts-Discord/modules/alignment/left/combined.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/fonts.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/dash.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/edited.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/icons.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/help.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/gift.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/custom/tags.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/custom/server.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/custom/user.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/src/source.css"); /**/


:root {
--chattyBackgroundImage: url(https://cdn.discordapp.com/attachments/921402389641179187/999042871661445120/EEAA7632-DBC0-4FB2-BD77-18A3068E2CF0.gif);

/*___________________________________________________________________________________________________________________________________*/
--chattyBorderRadius: 25px;
--chattyPadding: 10px;
--chattyBlur: 0px;
--interactive-muted: #D08770;
--background-primary: rgba(0, 0, 0, 0.4);
--background-secondary: rgba(0, 0, 0, 0.6);
--background-secondary-alt: rgba(0, 0, 0, 0.3);
--background-tertiary: rgba(39, 39, 39,0.8);
/*___________________________________________________________________________________________________________________________________*/
--rs-small-spacing: 0.5px; /* Spacing Between The Status And Avatar For Small Icons, Must End In "px", Standard: 0.5px */
--rs-medium-spacing: 1.5px; /* Spacing Between The Status And Avatar For Medium Icons, Must End In "px", Standard: 1.5px */
--rs-large-spacing: 3px; /* Spacing Between The Status And Avatar For Large Icons, Must End In "px", Standard: 3px */
--rs-small-width: 2px; /* Width For The Small Status, Must End In "px", Standard: 2px */
--rs-medium-width: 2px; /* Width For The Medium Status, Must End In "px", Standard: 2px */
--rs-large-width: 4px; /* Width For The Large Status, Must End In "px", Standard: 4px */
--rs-avatar-shape: 50%; /* Shape Of The Status, 50% For Circle, 100% For Square, Standard: 50% */
--rs-online-color: #43b581; /* Status Color For People In "Online" Mode, Standard: #43b581 */
--rs-idle-color:  rgba(255,162,0,1); /* Status Color For People In "Idle" Mode, Standard: rgba(255,162,0,1) */
--rs-dnd-color: #f04747; /* Status Color For People In "Do Not Disturb" Mode, Standard: #f04747 */
--rs-offline-color: #636b75; /* Status Color For People Who Are "Offline", Standard: #636b75 */
--rs-streaming-color: #643da7; /* Status Color For People In "Streaming" Mode, Standard: #643da7 */
--rs-invisible-color: var(--rs-offline-color); /* Status Color For People In "Invisible" Mode, Standard: var(--offline-color) */
--rs-phone-color: var(--rs-online-color); /* Status Color For People In "Phone" Mode, Standard: var(--rs-online-color) */
--rs-phone-visible: block; /* If The Phone Icon Should Be Visible, Standard: block */
/*___________________________________________________________________________________________________________________________________*/
--settingsmodalbackground: transparent; /* Background Of The Settings, (Cannot Be Custom), Standard: transparent */
--settingsmodalwidth: 1050px; /* Settings Width, Must End In "px or vh", Standard: 1100px */
--settingsmodalheight: 900px; /* Settings Height, Must End In "px or vh", Standard: 850px */
/*___________________________________________________________________________________________________________________________________*/
--text-color: #fff;
--activity-bg: #627ee4;
--spotify-bg: #1ed860;
--twitch-bg: #6441a5;
--bot-bg: #546cc4;
--xbox-bg: #107C10;
/*___________________________________________________________________________________________________________________________________*/
}

/* DO NOT TOUCH BELOW. */

.contentRegionScroller-2_GT_N {
  background: var(--background-secondary);
}
.voiceUsers-3gPcwY {
  display: none;
}
.option-ayUoaq:after {
  display: none;
}
.communityInfoPill-2Mll66 {
  display: none;
}
.activityUserPopout-2MzGCj, .activityProfile-1712BN {
    background-color: var(--activity-bg);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    z-index: 1;
}
.activityUserPopout-2MzGCj h3, .activityProfile-1712BN h3, .activityUserPopout-2MzGCj .content-tXPNDw, .activityProfile-1712BN .content-tXPNDw, .activityUserPopout-2MzGCj .activityName-3YXl6e, .activityProfile-1712BN .activityName-3YXl6e, .activityUserPopout-2MzGCj .details-2-ciHo, .activityProfile-1712BN .details-2-ciHo {
    color: var(--text-color) !important;
}
.activityUserPopout-2MzGCj .button-TGAkj4, .activityProfile-1712BN .button-TGAkj4 {
    background-color: transparent !important;
    border: var(--text-color) 2px solid;
    transition: 0.5s;
}
.activityUserPopout-2MzGCj .button-TGAkj4:hover, .activityProfile-1712BN .button-TGAkj4:hover {
    background-color: var(--text-color) !important;
    border-color: transparent;
    color: black !important;
}
.activityUserPopout-2MzGCj .nameWrap-3TyM52.textRow-1sENuL.base-21yXnu.size14-3fJ-ot[title]::after, .activityProfile-1712BN .nameWrap-3TyM52.textRow-1sENuL.base-21yXnu.size14-3fJ-ot[title]::after, .activityUserPopout-2MzGCj .detailsWrap-omKn0b.textRow-1sENuL::after, .activityProfile-1712BN .detailsWrap-omKn0b.textRow-1sENuL::after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: var(--twitch-bg);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
}
.activityUserPopout-2MzGCj .timeBarUserPopout-qLXZaR::after, .activityProfile-1712BN .timeBarUserPopout-qLXZaR::after, .activityUserPopout-2MzGCj .timeBarProfile-1z_HH-::after, .activityProfile-1712BN .timeBarProfile-1z_HH-::after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--spotify-bg);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
}
.activityUserPopout-2MzGCj .spotifyIcon-2J9kSv, .activityProfile-1712BN .spotifyIcon-2J9kSv {
    margin: 5px 5px 0px 0px;
}
.activityUserPopout-2MzGCj .spotifyIcon-2J9kSv path, .activityProfile-1712BN .spotifyIcon-2J9kSv path {
    fill: var(--text-color);
}
.activityUserPopout-2MzGCj .contentNoImagesUserPopout-12NyFa::after, .activityProfile-1712BN .contentNoImagesUserPopout-12NyFa::after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: var(--bot-bg);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
}
.activityProfile-1712BN {
    margin: 10px;
    border-radius: 6px;
}
.activityProfile-1712BN .spotifyIcon-2J9kSv {
    margin: 0px 0px 0px 0px;
}
.xboxAssets-aGhVw8 ~ div::after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: var(--xbox-bg);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
}