/**
 * @name Simplicity BD Edition
 * @author Kat's Slave
 * @version 1.1.0
 * @description Brings the look of Windows 11 to Discord.
*/

@import url('https://discordstyles.github.io/Fluent/Fluent.css'); /**/
@import url("https://discordstyles.github.io/Fluent/SelfMessages.css"); /**/
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/help.css"); /**/
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/gift.css"); /**/

:root {
  --accent: 63, 5, 163; /* The colour used throughout the app | R,G,B format | Default: 98, 205, 254 */
  --channels-width: 300px; /* Size of the server channel/dms list | Default: 300px */
  --members-width: 280px; /* Size of the members list | Default: 280px */
  --server-size: 48px; /* Size of each server in the server list | Default: 48px */
  --dark-background-hue: 0; /* The hue of the background colour. | Options: 0 to 360 | Default: 0 */
  --dark-background-saturation: 0%; /* How much of the colour should be visible. | Must end in a % | Default: 0% */

  --rs-small-spacing: 0.5px; /* Spacing Between The Status And Avatar For Small Icons, Must End In "px", Standard: 0.5px */
  --rs-medium-spacing: 1.5px; /* Spacing Between The Status And Avatar For Medium Icons, Must End In "px", Standard: 1.5px */
  --rs-large-spacing: 3px; /* Spacing Between The Status And Avatar For Large Icons, Must End In "px", Standard: 3px */
  --rs-small-width: 2px; /* Width For The Small Status, Must End In "px", Standard: 2px */
  --rs-medium-width: 2px; /* Width For The Medium Status, Must End In "px", Standard: 2px */
  --rs-large-width: 4px; /* Width For The Large Status, Must End In "px", Standard: 4px */
  --rs-avatar-shape: 25%; /* Shape Of The Status, 50% For Circle, 25% For Square, Standard: 50% */
  --rs-online-color: #43b581; /* Status Color For People In "Online" Mode, Standard: #43b581 */
  --rs-idle-color:  rgba(255,162,0,1); /* Status Color For People In "Idle" Mode, Standard: rgba(255,162,0,1) */
  --rs-dnd-color: #f04747; /* Status Color For People In "Do Not Disturb" Mode, Standard: #f04747 */
  --rs-offline-color: #636b75; /* Status Color For People Who Are "Offline", Standard: #636b75 */
  --rs-streaming-color: #643da7; /* Status Color For People In "Streaming" Mode, Standard: #643da7 */
  --rs-invisible-color: var(--rs-offline-color); /* Status Color For People In "Invisible" Mode, Standard: var(--offline-color) */
  --rs-phone-color: var(--rs-online-color); /* Status Color For People In "Phone" Mode, Standard: var(--rs-online-color) */
  --rs-phone-visible: visible; /* If The Phone Icon Should Be Visible, Standard: block */
}