.tutorialContainer-1pL9QS {
	background-color: rgba(0, 0, 0, 0) !important;
}

.flex-2S1XBF {
	background-color: rgba(0, 0, 0, 0) !important;
}

.button-12Fmur {
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.nameTag-sc-gpq {
	background-color: rgba(0, 0, 0, 0.01) !important;
}

.avatarWrapper-1B9FTW {
	background-color: rgba(0, 0, 0, 0.6) !important;
	border-radius: 15px !important;
}

.circleIconButton-1VxDrg {
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.children-3xh0VB {
	background-color: rgba(0, 0, 0, 0) !important;
}

.buttons-uaqb-5{
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.channelAttachmentArea-HwpkuQ {
	margin-bottom: -25px !important;
}

.children-3xh0VB {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.toolbar-3_r2xA {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.typing-2J1mQU {
	position: static !important;
	margin-bottom: 30px !important;
	margin-top: -20px !important;
}

.jumpToPresentBar-1cEnH0 {
	background-color: rgba(0, 0, 0, 0.9) !important;
	border-radius: 10px !important;
	margin-bottom: 20px !important;
	height: 40px !important;
}

.drawerSizingWrapper-1txdWG {
	max-height: 569px !important;
	max-width: 400px !important;
}

.container-A2jo65 {
	position: static !important;
	margin-bottom: 30px !important;
	margin-top: -10px !important;
}

.scroller-18M1mG {
	background: transparent !important;
}

.messagesPopout-eVzQcI {
	max-height: 750px !important;
}

.scroller-2MALzE, .autocomplete-3NRXG8 {
	background-color: rgba(0, 0, 0, 0.6) !important;
	position: static !important;
}

.standardStickerShortcut-ObSns3, .unicodeShortcut-3N8oDe {
	opacity: 0 !important;
}

.container-6sXIoE {
	background-color: rgba(0, 0, 0, 0.6) !important;
	border-radius: 7px !important;
}

.headerTop-3GPUSF, .body-2wLx-E, .footer-3naVBw {
	background-color: rgba(0, 0, 0, 0.6) !important;
}
