.scroller-1ox3I2, .header-3OsQeK, .container-YkUktl, .scroller-WSmht3, .searchBar-3TnChZ, .channelTextArea-1FufC0, .scrollableContainer-15eg7h, .contentWrapper-3vHNP2, .messageGroupWrapper-1jf_7C, .header-1w9Q93, .channelHeader-DFRX8q, .messageContainer-3VTXBC, .grid-1aWVsE, .list-2u03C-, .wrapper-1NNaWG, .container-2ebMPP, .message-G6O-Wv, .menu-1QACrS, .wrapper-3Hk9OB, .wrapper-1_HaEi, .container-2Y4CWj, .pageWrapper-2PwDoS, .thin-31rlnD {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.sidebarRegionScroller-FXiQOh, .searchBarComponent-3N7dCG, .inputDefault-3FGxgL {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

.channelTextArea-1FufC0 {
	margin-top: 15px !important;
}

.attachedBars-2BCP3l {
	margin-bottom: 40px !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

.replyBar-1oi75v {
	background-color: rgba(0, 0, 0, 0) !important;
}

.barButtonBase-Sk2mdB {
	margin-bottom: 15px !important;
}

.unicodeShortcut-3N8oDe, .standardStickerShortcut-ObSns3, #app-mount .info-3pQQBb .line-18uChy:after, .socialLinks-3ywLUf {
	display: none !important;
}

.messagesPopoutWrap-3zryHW {
	max-height: 750px !important;
	background-color: rgba(0, 0, 0, 0.5) !important;
	border-radius: 18px !important;
}

.autocomplete-3NRXG8, .animatorRight-xAUgTY, .animatorLeft-3yvG13, .pc-notice-container, .userPopoutInner-PA9zkU .userPopoutInnerWithoutTheme-23vLID {
	background-color: rgba(0, 0, 0, 0.7) !important;
}

.animatorRight-xAUgTY, .animatorLeft-3yvG13, .pageWrapper-2PwDoS, .chat-2ZfjoI, .sidebar-1tnWFu {
	border-radius: 18px !important;
}

.inputDefault-3FGxgL {
	border-radius: 5px !important;
}

.avatarHint-2g3Mcd {
	display: none !important; /* temporary solution */
}
