.headerTop-3GPUSF, .body-2wLx-E, .footer-3naVBw, .inner-llGtyq, .button-12Fmur, .circleIconButton-1VxDrg, .contentWrapper-3vHNP2, .inspector-DFKXwB {
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.tutorialContainer-1pL9QS, .flex-2S1XBF, .nameTag-sc-gpq, .children-3xh0VB {
	background-color: rgba(0, 0, 0, 0) !important;
}
.avatarWrapper-1B9FTW {
	background-color: rgba(0, 0, 0, 0.6) !important;
	border-radius: 15px !important;
}

.buttons-uaqb-5, .children-3xh0VB, .toolbar-3_r2xA {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.channelAttachmentArea-HwpkuQ {
	margin-bottom: -25px !important;
}

.base-3bcbY3 {
    position: absolute !important;
    bottom: 40px !important;
    left: 16px !important;
    right: 16px !important;
    height: 24px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    resize: none !important;
    overflow-y: hidden !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    color: var(--text-normal) !important;
}

.typing-2J1mQU {
    overflow: visible !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

.jumpToPresentBar-1cEnH0 {
	background-color: rgba(0, 0, 0, 0.9) !important;
	border-radius: 10px !important;
	margin-bottom: 20px !important;
	height: 40px !important;
}

.drawerSizingWrapper-1txdWG {
	max-height: 569px !important;
	max-width: 400px !important;
}

.container-A2jo65 {
	position: static !important;
	margin-bottom: 30px !important;
	margin-top: -10px !important;
}

.scroller-18M1mG {
	background: transparent !important;
}

.messagesPopout-eVzQcI {
	max-height: 750px !important;
}

.scroller-2MALzE, .autocomplete-3NRXG8 {
	background-color: rgba(0, 0, 0, 0.6) !important;
	position: static !important;
}

.standardStickerShortcut-ObSns3, .unicodeShortcut-3N8oDe {
	opacity: 0 !important;
}

.container-6sXIoE {
	background-color: rgba(0, 0, 0, 0.6) !important;
	border-radius: 7px !important;
}

.listItems-6eZzQ1 {
	position: relative !important;
}

.wrapper-1NNaWG  {
	background-color: rgba(0, 0, 0, 0.4) !important;
	width: 225px !important;
	border-radius: 18px !important;
}

.autocomplete-3NRXG8 {
	background-color: rgba(0, 0, 0, 0.2) !important;
	border-radius: 18px !important;
}

.menu-1QACrS {
	background-color: rgba(0, 0, 0, 0.7) !important;
}

.root-g14mjS, .ctaBar-Nhk8yY {
	border-radius: 18px !important;
}

.titleBar-1it3bQ::before {
	height: 20px !important;
	background-color: rgba(0, 0, 0, 0.6) !important;
} 

.winButtonClose-3Q8ZH5, .winButtonMinMax-3RsPUg, .winButtonMinMax-3RsPUg {
	height: 25px !important;
}

.line-18uChy:last-child:after, .info-3pQQBb::after, .socialLinks-3ywLUf::after, .info-3pQQBb:before, .socialLinks-3ywLUf, .premiumTab-39eQzY, .item-3Xjb, .wrapper-3Zq_cJ, .guildFullFeatures-2jRvaJ, .colorPremium-vwmYZQ, .heroButtons-357iJy, .marketingRefreshTier2Cta-2dN2zP, .buttons-19uowm, .shinyButton-2Q9MDB {
	display: none !important;
}

.sidebarRegionScroller-FXiQOh {
	background-color:rgba(0, 0, 0, 0.3) !important;
}
