/* Beta Imports */

@import url("https://maendisease.github.io/BetterDiscordStuff/css/ProfileBannerSkins.css");
@import url("https://crearts-community.github.io/Settings-Icons/clients/settings-icons.theme.css");

/* Beta Imports End */

/* Offline not becoming Gray-ish in server list */

.offline-22aM7E .wrapper-1VLyxH > svg > foreignObject{mask:url(#svg-mask-avatar-status-round-32);}
.offline-22aM7E .wrapper-1VLyxH > svg > foreignObject::before {
content: "";
width: 10px;
height: 10px;
background-color: hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%);;
display: block;
right: 0px;
bottom: 0px;
position: absolute;
border-radius: 50%;
}
.offline-22aM7E .wrapper-1VLyxH > svg > foreignObject::after{
content: "";
width: 6px;
height: 6px;
background-color: var(--background-secondary-alt);
display: block;
right: 2px;
bottom: 2px;
position: absolute;
border-radius: 50%;
z-index: 999!important;
}
.offline-22aM7E{opacity: 1;}

/* Offline not becoming Gray-ish in server list end */
