/* Shows Entire Banner In Settings */

.settingsBanner-1eDJ5w {
    height: 240px;
}

.userInfo-regn9W .avatar-3mTjvZ {
    top: 220px !important;
}

/* Shows Entire Banner In Settings End */

/* Collapsing Voice Panel */

.container-1zzFcN .actionButtons-2vEOUh {
    transition: 250ms ease-out;
    padding-top: 0px;
    opacity: 0;
    height: 0;
  }
  .container-1zzFcN:hover .actionButtons-2vEOUh {
    padding-top: 4px;
    height: 36px;
    opacity: 1;
  }

/* Collapsing Voice Panel End */

/* Better Jump To Present Button */

[class*="jumpToPresentBar"] {
  display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
  display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
  position: absolute;
  z-index: 1;
  bottom: 24px;
  right: 22px;
  padding: 8px !important;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: var(--elevation-high);
  border-radius: 100px;
  display: flex;
  font-size: 0px;
  color: transparent;
  transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
  order: -1;
  margin: 0px;
  height: 24px;
  width: 24px;
  top: auto;
  margin-right: 0px;
  margin-left: 0px;
  color: #FFFFFF;
  transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
  padding: 8px 18px !important;
  font-size: 14px;
  color: #FFFFFF;
  transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
  margin-right: 2px;
  margin-left: -6px;
}

/* Better Jump To Present Button End */

/* Pop-out Animation */ 

.menu-1QACrS, .emojiPicker-6YCk8a, .browser-mnQ1T7, .messagesPopoutWrap-3zryHW, .wrapper-1NB3WY, .container-3u7RcY, .container-2o3qEW, .container-2ebMPP, .userPopout-2j1gM4 {
  animation: custom-menu-animation 250ms ease;
  transform-origin: top;
}
@keyframes custom-menu-animation {
  0% {
      transform: scaleY(0);
  }
  100% {
      transform: scaleY(1);
  }
}

/* Pop-out Animation End */

/* Better Compact User Area */

#account.menu-1QACrS {
  width: 220px;
}

#account.menu-1QACrS .submenu-1apzyU[aria-activedescendant^="account-status-picker"] {
  max-width: 220px;
}

#account.menu-1QACrS .profileBody-3QbfPe {
  display:none;
}

/* Better Compact User Area End */

/* Collapse Folders Until Hover */

.wrapper-38slSD:not(:hover)>ul {
	display: grid;
	height: 48px !important;
	width: 48px;
	padding: 6px;
	grid-template: 1fr 1fr/1fr 1fr;
	position: absolute;
	top: 0;
	left: 12px;
	box-sizing: border-box;
	pointer-events: none;
	gap: 4px;
	justify-content: center;
	align-items: center;
	animation: shrinkingAnimation 100ms ease-in;
}
.wrapper-38slSD>ul {
	transition: height 150ms ease-out;
}
@keyframes shrinkingAnimation { from { position: relative; } }
.wrapper-38slSD:not(:hover) .expandedFolderIconWrapper-3RwQpD>svg {
	width: 100%;
	height: 100%;
	background: currentColor;
	opacity: 0.4;
}
.wrapper-38slSD:not(:hover)>.expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi), .wrapper-38slSD:not(:hover)>.expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi)~* :is(ul>.listItem-3SmSlK:nth-of-type(4)~*, .upperBadge-1V6Iyi) {
	visibility: hidden;
}
.wrapper-38slSD:not(:hover)>ul :is(.wrapper-28eC3z, .svg-2zuE5p, .listItem-3SmSlK) {
	position: static;
	width: 16px !important;
	height: 16px !important;
	margin: 0;
}
.wrapper-38slSD:not(:hover)>ul>.listItem-3SmSlK .pill-2RsI5Q {
	left: -12px;
	visibility: visible;
}
.wrapper-38slSD:not(:hover)>ul>.listItem-3SmSlK .svg-2zuE5p>foreignObject {
	mask: none;
	border-radius: 50%;
}
.wrapper-38slSD:not(:hover)>.expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi)~* .lowerBadge-3WTshO>.numberBadge-37OJ3S {
	max-width: 16px;
	color: transparent;
	background: radial-gradient(white 30%, transparent 30%);
	outline: 4px solid var(--background-tertiary);
	visibility: visible;
}

/* Collapse Folders Until Hover End */

/* Banner Color Around User Thingy Magig Don't Ask Me */

.userPopout-2j1gM4{
  transform:translate(0);
  --border-width:1px;
}

.userPopout-2j1gM4 .banner-1YaD3N:after{
  content:'';
  position:fixed;
  height:100%;
  width:100%;
  z-index:1;
  border:var(--border-width) solid #0000;
  background-color:inherit;
  background-origin: border-box;
  -webkit-mask: 
      linear-gradient(#000 0 0) padding-box, 
      linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  box-sizing:border-box;
  border-radius:20px;
  pointer-events:none;
}

/* Banner Color Around User Thingy Magig Don't Ask Me End */