@import 'required/alignments'; /**/
@import 'required/fixes'; /**/
@import 'required/imports'; /**/
@import 'required/settings'; /**/
@import 'required/transparent'; /**/
@import 'optional/optionaladdons'; /**/

/* Optional Import */
/* @import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css"); /**/

:root {
/* Only touch If you want to change your Background, Supports: .gif, .jpg, .png and probably .apng but not sure /**/
--chattyBackgroundImage: url(https://cdn.discordapp.com/attachments/526356431897886721/997885076090146877/unknown.png);
  
  /* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/
--accentcolor:			255,114,27;
--accentcolor2:			255,116,0;
--linkcolor:			255,167,94;
/*___________________________________________________________________________________________________________________________________*/
}
